extends ../../layout/home

block content
	section#content
		.container
			.block-header
				h2
					i.zmdi.zmdi-apps
					|  #{websitename}
			.row
				.col-md-9.col-sm-6
					if (success_messages.length > 0)
						.row
							.col-sm-12.col-md-12.m-t-30
								.alert.alert-success
									| #{success_messages}
					if (error_messages.length > 0)
						.row
							.col-sm-12.col-md-12.m-t-30
								.alert.alert-danger
									| #{error_messages}
					if (user)
						if (results.checkshoutboxdisplay)
							if (user.local.user_role >= results.checkshoutboxdisplay.min_power)
								.card
									.card-header
										h2
											span.zmdi.zmdi-comments.m-r-5
											| #{t('frontpages:socketio.shoutbox_h2')}
											small #{t('frontpages:socketio.shoutbox_h2_small')} (
												span.c-blue #{results.checkshoutboxdisplay.min_power}
												| )
										if (user.local.user_role > 99)
											ul.actions
												li
													a(href='/admin/shoutbox/delete-all')
														i.zmdi.zmdi-delete
									.card-body
										.pre-scrollable.p-15#shoutbox
											each message in results.shoutbox.reverse()
												.mblm-item.mblm-item-left.w-100
													a.pull-left.m-r-15(href='/members/'+message.shout_user_id)
														img.lgi-img(src=message.shout_user_avatar, alt='avatar')
													div
														strong
															| #{message.shout_user_name}
														span.small.p-l-10.c-gray
															| #{moment(message.createdAt).fromNow()}
														span!=message.shout_user_msg
										.row
											.col-md-12.m-t-10.m-b-10
												form(id='messageForm')
													.input-group.p-10
														.fg-line
															input.form-control(id='message', type='text', placeholder=t('frontpages:socketio.shoutbox_input')+'...', autocomplete="off", required)
														.input-group-btn
															button.btn.bgm-lightblue.m-l-5#send(type='submit')
																i.zmdi.zmdi-mail-send
												.small.typing.p-l-15.p-b-15#typing
					.row
						each row in results.servers
							.col-sm-6.col-md-4.animated.flipInX.forum-categories-block
								.card
									.card-header.forum-categories-block-header(class="bgm-"+row.color)
										h2
											a(href="/"+row.name_alias)
												i(class='m-r-5 flag-icon flag-icon-'+row.country_shortcode)
												|  #{row.name}
											small
												span.zmdi.zmdi-accounts 
												|  #{t('frontpages:home.home_online_players')} #{row.online_players}
												br
												span.zmdi.zmdi-globe
												|  #{row.ip}:#{row.port}
												br
												span.zmdi.zmdi-pin
												|  #{t('frontpages:home.home_map')} #{row.map_playing}
										if(theme=='dark')
											a.bgm-black.btn.btn-default.bg.btn-float.waves-effect.waves-circle.waves-float(href="/"+row.name_alias)
												i.zmdi.zmdi-plus
										else
											a.bgm-lightblue.btn.btn-default.bg.btn-float.waves-effect.waves-circle.waves-float(href="/"+row.name_alias)
												i.zmdi.zmdi-plus
									.card-body.forum-categories-block-body.card-padding
										span.lgi-heading.pull-left.m-r-5
											span.zmdi.zmdi-refresh
										small.lgi-text
											if (row.is_stoped === false)
												span.c.green
													| #{t('frontpages:home.home_online')}
												span.c.gray
													| - #{t('frontpages:home.home_scanned')} #{moment(row.updatedAt).fromNow()}
											else
												span.c-red
													| #{t('frontpages:home.home_server_offline')}
					.row
						.col-md-12
							.block-header
								h2
									i.zmdi.zmdi-account
									|  #{t('frontpages:home.home_latest_admin_actions')}
					.row
						.col-md-4
							.card
								.card-header
									h2
										| #{t('frontpages:home.home_admin_actions')}
										small 
											| #{t('frontpages:home.home_latest_admin_actions')}
								.card-body
									.list-group
										each tempban in results.tempbans
											a.list-group-item.media.animated.zoomIn(href='/members/'+tempban.admin_id)
												.media-body
													.lgi-heading
														span(class="btn btn-circle m-r-15 btn-xs bgm-deeporange")
															if (tempban.admin_command=='chat')
																| VCM
															else if (tempban.admin_command=='mute')
																| VM
															else
																| TB
														| #{tempban.player_name}
													ul.lgi-attrs
														li
															| #{t('frontpages:home.home_by_admin')} #{tempban.admin_name}
														li
															| #{moment(tempban.createdAt).fromNow()}
						.col-md-4
							.card
								.card-header
									h2
										| #{t('frontpages:home.home_latest_permbans')}
										small 
											| #{t('frontpages:home.home_latest_permbans_text')}
								.card-body
									.list-group
										each ban in results.serverbans
											a.list-group-item.media.animated.zoomIn(href='/banlist/'+ban._id)
												.media-body
													.lgi-heading
														span(class="btn btn-circle m-r-15 btn-xs bgm-red")
															| PB
														| #{ban.player_name}
													ul.lgi-attrs
														li
															| #{t('frontpages:home.home_by_admin')} #{ban.admin_name}
														li
															| #{moment(ban.createdAt).fromNow()}
						.col-md-4
							.card
								.card-header
									h2
										| #{t('frontpages:home.home_latest_unbans')}
										small 
											| #{t('frontpages:home.home_latest_unbans_text')}
								.card-body
									.list-group
										each unban in results.serverunbans
											.list-group-item.media.animated.zoomIn
												.media-body
													.lgi-heading
														span(class="btn btn-circle m-r-15 btn-xs bgm-green")
															| Unban
														| #{unban.player_name}
													ul.lgi-attrs
														li
															| #{t('frontpages:home.home_by_admin')} #{unban.admin_name}
														li
															| #{moment(unban.createdAt).fromNow()}
				.col-md-3.col-sm-6
					if (user)
						if (user.local.user_role < 2)
							.card
								.card-header.bgm-lightblue
									h2
										| #{t('frontpages:home.home_admin_applications_title')}
										small 
											| #{t('frontpages:home.home_admin_applications_title_small')}
									a.bgm-lightgreen.btn.btn-default.bg.btn-float.waves-effect.waves-circle.waves-float(href="/admin-applications")
										i.zmdi.zmdi-comment-more
								.card-body.card-padding
									| #{t('frontpages:home.home_admin_aplications_text')}
						if (user.local.user_role > 1)
							if (results.adminconversations > 0)
								.card
									.card-body.card-padding.bgm-pink.c-white
										a.c-white(href="/admin-conversations") 
											span.zmdi.zmdi-info
											|  #{t('frontpages:home.home_admin_applications_text_2')}
					.card
						.card-header
							h2
								| #{t('frontpages:home.home_top_countries')}
								small 
									| #{t('frontpages:home.home_top_countries_text')}
						if (results.getcountries)
							.card-body
								.list-group.lg-odd-black
									each country in results.getcountries
										.list-group-item
											ul.lgi-attrs
												li
													i.m-r-5.pull-lef(class='m-r-5 flag-icon flag-icon-'+country.player_country_short)
													a.pull-right(href='/players-data/search/'+country.player_country_short) #{country._id}
												li
													span.zmdi.zmdi-accounts.m-r-5
													| #{country.count}
block extrajs
	if (user)
		if (results.checkshoutboxdisplay)
			script(src='/js/markdown-it.min.js')
			script.
				function scrollToBottom() {$('#shoutbox').scrollTop($('#shoutbox')[0].scrollHeight);}scrollToBottom();