extends ../layout/home

block content
	
		ol.breadcrumb
			li
				a(href='/') #{t('navigation:main_navigation.home')}
			li.active #{t('auth:reset.reset_h2')}
		section#content
			.container
				.row
					.col-md-4.col-md-offset-3
						.row
							.col-md-12.col-sm-12
								if (success_messages.length > 0)
									.row
										.col-sm-12.col-md-12.m-t-30
											.alert.alert-success
												| #{success_messages}
								if (error_messages.length > 0)
									.row
										.col-sm-12.col-md-12.m-t-30
											.alert.alert-danger
												| #{error_messages}
						.card
							.card-header.bgm-blue
								h2
									| #{t('auth:reset.reset_h2')}
									small #{t('auth:reset.reset_h2_small')}
								button.btn.bgm-green.btn-float.waves-effect
									i.zmdi.zmdi-key
							.card-body.card-padding
								if (message.length > 0)
									.alert.alert-danger=message
								form(method='post', action='/user/reset-password')
									.form-group.fg-line
										label(for='email')
											i.zmdi.zmdi-account
											|  #{t('auth:login.login_form_email')}
										input#email.form-control.input-sm(type='email', placeholder=t('auth:login.login_form_email_placeholder'), name='email')
									.row
										.col-sm-12.m-b-20
											input(type='hidden', name='_csrf', value=csrfToken)
											button.btn.btn-primary.waves-effect(type='submit') #{t('auth:reset.reset_h2')}
									.clearfix
