extends ../layout/home

block content
	
		ol.breadcrumb
			li
				a(href='/') #{t('navigation:main_navigation.home')}
			li.active #{t('auth:reset.reset_h2')}
		section#content
			.container
				.row
					.col-md-4.col-md-offset-3
						.card
							.card-header.bgm-blue
								h2
									| #{t('auth:reset.reset_h2')}
									small #{t('auth:reset.new_password_form_btn')}
								button.btn.bgm-green.btn-float.waves-effect
									i.zmdi.zmdi-account
							.card-body.card-padding
								if (message.length > 0)
									.alert.alert-danger=message
								form(method='post', action='/user/update-password')
									.form-group.fg-line
										label(for='password')
											i.zmdi.zmdi-lock
											|  #{t('auth:reset.new_password_form_password')}
										input#password.form-control.input-sm(type='password', placeholder=t('auth:reset.new_password_form_password_label'), name='password', required)
									.row
										.col-sm-12
											input(type='hidden', name='_csrf', value=csrfToken)
											input(type='hidden', name='userId', value=results.user._id)
											input(type='hidden', name='passwordToken', value=results.user.reset.resetToken)
											button.btn.btn-primary.waves-effect(type='submit') #{t('auth:reset.new_password_form_btn')}
									.clearfix
