doctype html
html(lang=t('language:language.code'))
	//if IE 7
		<html class="ie">
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width')
		link(rel='shortcut icon', href='/favicon.ico')
		title= title+' - '+websitename
		link(rel='stylesheet', href='/vendors/bower_components/animate.css/animate.min.css')
		link(rel='stylesheet', href='/vendors/bower_components/lightgallery/dist/css/lightgallery.min.css')
		link(rel='stylesheet', href='/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css')
		link(rel='stylesheet', href='/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css')
		link(rel='stylesheet', href='/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css')
		link(rel='stylesheet', href='/css/app_1.min.css')
		link(rel='stylesheet', href='/css/app_2.min.css')
		link(rel='stylesheet', href='/css/'+theme+'/theme.min.css')
		link(rel='stylesheet', href='/css/custom.css')
		link(href='/vendors/bower_components/chosen/chosen.css', rel='stylesheet')
		link(href='/vendors/summernote/dist/summernote.css', rel='stylesheet')
		link(href='/vendors/bower_components/flag-icon-css/css/flag-icon.min.css', rel='stylesheet')
		block extrastuff
	body
		header#header.clearfix(data-ma-theme=skin)
			ul.h-inner
				li.hi-trigger.ma-trigger(data-ma-action='sidebar-open', data-ma-target='#sidebar')
					.line-wrap
						.line.top
						.line.center
						.line.bottom
				li.hi-logo.hidden-xs
					a(href='/')
						i.zmdi.zmdi-apps
						|  #{websitename}
				li.pull-right
					ul.hi-menu
						include ../partials/notifications.pug
						li.dropdown
							include ../partials/languages.pug
						li.hidden-xs.ma-trigger(data-ma-action='sidebar-open', data-ma-target='#chat')
							a(href='')
								i.him-icon.zmdi.zmdi-tv-play
						li.dropdown
							a(data-toggle='dropdown', href='')
								i.him-icon.zmdi.zmdi-more-vert
							ul.dropdown-menu.dm-icon.pull-right
								if (!user)
									li
										a(href='/user/login')
											i.zmdi.zmdi-sign-in
											|  #{t('navigation:main_navigation.login')}
									li
										a(href='/user/signup')
											i.zmdi.zmdi-account-add
											|  #{t('navigation:main_navigation.register')}
								if (user)
									if (user.local.user_role > 99)
										li
											a(href='/admin/home')
												i.zmdi.zmdi-settings-square
												|  #{t('navigation:main_navigation.admin')}
									li
										a(href='/user/profile')
											i.zmdi.zmdi-account-box
											|  #{t('navigation:main_navigation.profile')}
									li
										a(href='/user/logout')
											i.zmdi.zmdi-time-restore
											|  #{t('navigation:main_navigation.logout')}
		section#main
			aside#sidebar.sidebar.c-overflow
				.s-profile
					a(href='', data-ma-action='profile-menu-toggle')
						.sp-pic
							img(src='/img/logo.png', alt=websitename)
						.sp-info
							if (!user)
								| #{t('navigation:main_navigation.login')}
							if (user)
								| #{t('navigation:main_navigation.my_profile')}
							i.zmdi.zmdi-caret-down
					ul.main-menu
						if (!user)
							li
								a(href='/user/login')
									i.zmdi.zmdi-sign-in
									|  #{t('navigation:main_navigation.login')}
							li
								a(href='/user/signup')
									i.zmdi.zmdi-account-add
									|  #{t('navigation:main_navigation.register')}
						if (user)
							if (user.local.user_role > 99)
								li
									a(href='/admin/home')
										i.zmdi.zmdi-settings-square
										|  #{t('navigation:main_navigation.admin')}
							li
								a(href='/user/profile')
									i.zmdi.zmdi-account-box
									|  #{t('navigation:main_navigation.profile')}
							li
								a(href='/user/logout')
									i.zmdi.zmdi-time-restore
									|  #{t('navigation:main_navigation.logout')}
				ul#main-menu.main-menu
					li
						a(href='/')
							i.zmdi.zmdi-home
							|  #{t('navigation:main_navigation.home')}
					if (forumlink_enabled=="1")
						li
							a(href=forumlink_url)
								i.zmdi.zmdi-star-circle
								|  #{forumlink_name}
					if (user)
						if (user.local.user_role >= requiredpower.minimum_cheater_reports)
							if (cheater_reports.length > 0)
								li
									a(href='/cheater-reports')
										i.zmdi.zmdi-account-calendar.c-red
										|  #{t('navigation:main_navigation.cheater_reports')} (#{cheater_reports.length})
					li
						a(href='/members')
							i.zmdi.zmdi-accounts-list
							|  #{t('navigation:main_navigation.members')}
					li
						a(href='/banlist')
							i.zmdi.zmdi-thumb-down
							|  #{t('frontpages:banned.banned_tab_permanentbans')}
					li
						a(href='/tempbans')
							i.zmdi.zmdi-time
							|  #{t('frontpages:banned.banned_tab_temp_bans')}
					if (user)
						li
							a(href='/players-data')
								i.zmdi.zmdi-accounts
								|  #{t('navigation:main_navigation.players_data')}
			aside#chat.sidebar
				.lg-body.c-overflow
					.chat-search
						span.zmdi.zmdi-arrow-right.c-green
						|  #{t('frontpages:server.server_join_server')}
					.list-group
						#serverjoins
			block content
		footer#footer.p-b-25
			if (user)
				.col-md-12
					ul#todayusers.list-inline.commaseparated
			| #{websitename} #{moment().format('YYYY')} #{t('general:footer.footer_rights')}
			br
			| Powered &amp; Designed by NeHo
			span.zmdi.zmdi-apps.m-r-5.m-l-5
			a(href="https://forum.cirkus-serveri.com" target="_blank") Forum
			span.zmdi.zmdi-github.m-l-5.m-r-5
			a(href="https://github.com/byNeHo/CoD4x-WebAdmin" target="_blank")
				| Github
		.page-loader
			.preloader.pls-blue
				svg.pl-circular(viewbox='25 25 50 50')
					circle.plc-path(cx='50', cy='50', r='20')
				p
					| #{t('general:loading.loading_message')}...
		
		block js
			script(src='/js/jquery-1.10.2.min.js')
			script(src='/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js')
			script(src='/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js')
			script(src='/vendors/bower_components/Waves/dist/waves.min.js')
			script(src='/vendors/bootstrap-growl/bootstrap-growl.min.js')
			script(src='/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js')
			script(src='/vendors/bower_components/moment/min/moment.min.js')
			script(src='/vendors/bower_components/lightgallery/lib/lightgallery-all.min.js')
			//if lt IE 9
				script(src='/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js')
			script(src='/js/socket.io.js')
			script(src='/vendors/bower_components/sweetalert2/dist/sweetalert2.min.js')
			block dropzonejs
			script(src='/vendors/summernote/dist/summernote-updated.min.js')
			script(src='/vendors/bower_components/chosen/chosen.jquery.js')
			
			script(src='/js/app.min.js')
			script(src='/js/markdown-it.min.js')
			script(src='/js/client.js')
			block extrajs
			if (user)
				block userjs
