extends ../../layout/home

block content
		ol.breadcrumb
			li
				a(href='/') #{t('navigation:main_navigation.home')}
			li
				a(href='/admin/home') Admin
			li.active Edit
		section#content
			.container.container-alt
				.block-header
					h2
						| #{results.servers.name}
						small 
							if (results.servers.external_ip===true)
								| External Server on #{results.servers.ip}:#{results.servers.port} address
							else
								| Local Server on #{results.servers.ip}:#{results.servers.port} address
				.row
					.col-md-12
						if (success_messages.length > 0)
							.row
								.col-sm-12.col-md-12.m-t-30
									.alert.alert-success
										| #{success_messages}
						if (error_messages.length > 0)
							.row
								.col-sm-12.col-md-12.m-t-30
									.alert.alert-danger
										| #{error_messages}
						.card
							.card-body
								div(role='tabpanel')
									ul.tab-nav(role='tablist')
										li.active
											a(href='#server', aria-controls='server', role='tab', data-toggle='tab')
												i.zmdi.zmdi-play.m-r-10
												| Server
										li
											a(href='#server_rules', aria-controls='server_rules', role='tab', data-toggle='tab')
												i.zmdi.zmdi-comment-edit.m-r-10
												| Rules
										li
											a(href='#screenshot_plugin', aria-controls='screenshot_plugin', role='tab', data-toggle='tab')
												i.zmdi.zmdi-camera.m-r-10
												| Server Plugins
										li
											a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab')
												i.zmdi.zmdi-settings.m-r-10
												| Settings
										li
											a(href='#colors', aria-controls='colors', role='tab', data-toggle='tab')
												i.zmdi.zmdi-invert-colors.m-r-10
												| Colors
										li
											a(href='#http_plugin', aria-controls='http_plugin', role='tab', data-toggle='tab')
												i.zmdi.zmdi-apps.m-r-10
												| 3rd Party Http Plugin
									.tab-content
										#server.tab-pane.active(role='tabpanel')
											.card
												.card-body.card-padding
													form(method='post', action='/admin/servers/edit/update/'+results.servers._id)
														.row
															.col-md-4
																.form-group
																	.checkbox
																		label
																			input(type="checkbox", name="external_ip", checked=(results.servers.external_ip))
																			span.input-helper
																			| External Server
															.col-md-4
																.form-group.fg-line
																	label(for='ip')
																		|  * Server IP
																	input#ip.form-control.input-sm(type='text', name='ip', required, value=results.servers.ip)
															.col-md-4
																.form-group.fg-line
																	label(for='port')
																		|  * Server Port
																	input#port.form-control.input-sm(type='text', name='port', required, value=results.servers.port)
														.row
															.col-md-12
																.form-group.fg-line
																	label(for='script_starter')
																		|  Server start line
																	textarea#script_starter.form-control.input-sm(rows='3' name='script_starter')
																		| #{results.servers.script_starter}
														.row
															.col-md-4
																.form-group.fg-line
																	label(for='rcon_password')
																		|  Rcon Password
																	input#rcon_password.form-control.input-sm(type='password', name='rcon_password', value=results.servers.rcon_password)
															.col-md-4
																.form-group.fg-line
																	label(for='screenshot_identkey')
																		|  Screenshot identkey
																	input#screenshot_identkey.form-control.input-sm(type='text', name='screenshot_identkey', value=results.servers.screenshot_identkey)
															.col-md-4
																.form-group.fg-line
																	label(for='julia_identkey')
																		|  Julia identkey
																		span.c-red 
																			|  (must be unique for every server)
																	input#julia_identkey.form-control.input-sm(type='text', name='julia_identkey', value=results.servers.julia_identkey)
														.row
															.col-md-12
																.form-group
																	input(type='hidden', name='_csrf', value=csrfToken)
																	button.btn.btn-primary.pull-right.waves-effect(type='submit') Save Changes
														
													.clearfix
										#server_rules.tab-pane(role='tabpanel')
											.card
												.card-header
													h2 Server Rules
														small Server Rules on this game server, displayed on server details page
												.card-body.card-padding
													form(method='post', action='/admin/servers/edit/rules/update/'+results.servers._id)
														.form-group.fg-line
															label(for='server_rules')
																|  * Server Rules
															textarea#server_rules.form-control.input-sm.html-editor(rows='25' name='server_rules', required)
																|#{results.servers.server_rules}
														.form-group
															input(type='hidden', name='_csrf', value=csrfToken)
															button.btn.btn-primary.pull-right.waves-effect(type='submit') Save Changes
													.clearfix
										#screenshot_plugin.tab-pane(role='tabpanel')
											.card
												.card-header
													h2 Game Server Settings - Plugin ScreenshotSender
														small
															| If you would like to use the screenshot reciving, sending feature add this lines to your server.cfg.
															span.c-red 
															|  Create for every server an Unique screenshot_identkey, thats how the plugin knows which screenshot belongs to which server
												.card-body.card-padding
													pre
														| set nehoscreenshot_identkey "#{results.servers.screenshot_identkey}"
													br
													pre
														| set nehoscreenshot_url "#{websiteaddress}/cod4x_plugins/screenshots/#{results.servers.screenshot_identkey}"
													br
													pre
														| loadplugin nehoscreenshotuploader
											.card
												.card-header
													h2 Game Server Settings - Plugin Julia
														small
															| If you would like to use the Julia Plugin add this lines to your server.cfg.
															span.c-red 
																| Create for every server an Unique julia_identkey, otherwise the Plugin will not work correctly. If you use Plugin Julia the ScreenshotSender Plugin is not required since Julia contains that part to.
												.card-body.card-padding
													pre
														| set julia_identkey "#{results.servers.julia_identkey}"
													br
													pre
														| set julia_url "#{websiteaddress}/cod4x_plugins/julia/#{results.servers.julia_identkey}"
													br
													pre
														| loadplugin julia
											.clearfix
										#settings.tab-pane(role='tabpanel')
											.card
												.card-header
													- var current_time = new moment().format("HH:mm");
													h2 Game Server Settings
														small.f-13
															| Current Server Time on Local Machine:
															span.zmdi.zmdi-time.m-l-5.c-lightblue
															span.c-green.m-l-5
																| #{current_time}
												.card-body.card-padding
													form(method='post', action='/admin/servers/edit/settings/update/'+results.servers._id)
														.row
															.col-md-12.m-b-15
																h5 
																	| Auto restart 
																	span.c-red Local Server
																	|  every day at X hours
														.row
															.col-md-4
																.form-group.p-t-5
																	.toggle-switch.toggle-switch-demo(data-ts-color='blue')
																			label.ts-label(for='auto_restart_server') Activate/Deactivate
																			input#auto_restart_server(type='checkbox', hidden='hidden', name='auto_restart_server', checked=(results.servers.auto_restart_server))
																			label.ts-helper(for='auto_restart_server')
															.col-md-3
																.form-group.fg-line
																	select.selectpicker(name='time_to_restart_server', required)
																		option(value=results.servers.time_to_restart_server) #{results.servers.time_to_restart_server}
																		- for(var i = 0; i < 24; i++)
																			option(value=i)=i
															.col-md-5.p-t-5
																span.small
																	| * Local Server will be stopped for 2 minutes at X hours and then started. In Game Servers main directory!
														hr
														.row
															.col-md-12.m-b-15.m-t-15
																h5 
																	| Auto Restart 
																	span.c-red Local Server
																	|  on Crash
														.row
															.col-md-4
																.form-group.p-t-5
																	.toggle-switch.toggle-switch-demo(data-ts-color='blue')
																			label.ts-label(for='auto_restart_server_on_crash') Activate/Deactivate
																			input#auto_restart_server_on_crash(type='checkbox', hidden='hidden', name='auto_restart_server_on_crash', checked=(results.servers.auto_restart_server_on_crash))
																			label.ts-helper(for='auto_restart_server_on_crash')
															.col-md-8.p-t-5
																span.small
																	| * Game Server will be stopped for 2 minutes and started again on Game Server Crash. If the server is not available for longer than 5 minutes this plugin will run! If you are using Plugin Discord Webhook an information message will be sent on Server restart.
														hr
														.row
															.col-md-12.m-t-15.m-b-15
																h5 Card Background Color
														.row
															.col-md-4
																.form-group.fg-line
																	select.selectpicker(name='color', required)
																		option(value=results.servers.color) #{results.servers.color}
																		each row in results.colors
																			option(value=row.name) #{row.name}
															.col-md-8.p-t-5
																span.small
																	| * Card Background Color for this Game Server on the websites Homepage. Check the available colors under tab COLORS
														.row.m-t-25
															.col-md-12.text-right
																.form-group
																	input(type='hidden', name='_csrf', value=csrfToken)
																	button.btn.btn-primary.pull-right.waves-effect(type='submit') Save Changes
													.clearfix
										#colors.tab-pane(role='tabpanel')
											.card
												.card-header
													h2 Colors
														small
															| Server Card colors used on the homepage
												.card-body.card-padding
													.row
														.col-sm-3.col-xs-6
															.color-block.bgm-red
																span.color Red
																span.code #F44336
																span.less @bgm-red
														.col-sm-3.col-xs-6
															.color-block.bgm-pink
																span.color Pink
																span.code #E91E63
																span.less @bgm-pink
														.col-sm-3.col-xs-6
															.color-block.bgm-purple
																span.color Purple
																span.code #9C27B0
																span.less @bgm-purple
														.col-sm-3.col-xs-6
															.color-block.bgm-deeppurple
																span.color Deep Purple
																span.code #673AB7
																span.less @bgm-deeppurple
														.col-sm-3.col-xs-6
															.color-block.bgm-indigo
																span.color Indigo
																span.code #3F51B5
																span.less @bgm-indigo
														.col-sm-3.col-xs-6
															.color-block.bgm-blue
																span.color Blue
																span.code #2196F3
																span.less @bgm-blue
														.col-sm-3.col-xs-6
															.color-block.bgm-lightblue
																span.color Light Blue
																span.code #03A9F4
																span.less @bgm-lightblue
														.col-sm-3.col-xs-6
															.color-block.bgm-cyan
																span.color Cyan
																span.code #00BCD4
																span.less @bgm-cyan
														.col-sm-3.col-xs-6
															.color-block.bgm-teal
																span.color Teal
																span.code #009688
																span.less @bgm-teal
														.col-sm-3.col-xs-6
															.color-block.bgm-green
																span.color Green
																span.code #4CAF50
																span.less @bgm-green
														.col-sm-3.col-xs-6
															.color-block.bgm-lightgreen
																span.color Light Green
																span.code #8BC34A
																span.less @bgm-lightgreen
														.col-sm-3.col-xs-6
															.color-block.bgm-lime
																span.color Lime
																span.code #CDDC39
																span.less @bgm-lime
														.col-sm-3.col-xs-6
															.color-block.bgm-yellow
																span.color Yellow
																span.code #FFEB3B
																span.less @bgm-yellow
														.col-sm-3.col-xs-6
															.color-block.bgm-amber
																span.color Amber
																span.code #FFC107
																span.less @bgm-amber
														.col-sm-3.col-xs-6
															.color-block.bgm-orange
																span.color Orange
																span.code #FF9800
																span.less @bgm-orange
														.col-sm-3.col-xs-6
															.color-block.bgm-deeporange
																span.color Deep Orange
																span.code #FF5722
																span.less @bgm-deeporange
														.col-sm-3.col-xs-6
															.color-block.bgm-brown
																span.color Brown
																span.code #795548
																span.less @bgm-brown
														.col-sm-3.col-xs-6
															.color-block.bgm-gray
																span.color Gray
																span.code #9E9E9E
																span.less @bgm-gray
														.col-sm-3.col-xs-6
															.color-block.bgm-bluegray
																span.color Blue Gray
																span.code #607D8B
																span.less @bgm-bluegray
														.col-sm-3.col-xs-6
															.color-block.bgm-black
																span.color Black
																span.code #000000
																span.less @bgm-black

										#http_plugin.tab-pane(role='tabpanel')
											.card
												.card-body.card-padding
													.row
														.col-md-12
															p.c-black.f-500.m-b-5 JSON HTTP GET and POST Requests
															.small.m-b-25
																| This plugin allows you to do http requests within your gsx scripts. More info can be found here 
																a(href="https://github.com/callofduty4x/cod4x_plugin_http", target="_blank") Http GSC Plugin
															blockquote.m-b-25
																| Some links need the players GUID to work properly, the GUID value will be marked with red color. 
																| For example when you set the "httpgetjson" in your gsc script make sure that you replace the 
																| red 
																span.c-red
																	| player_guid
																|  with the players 
																span.c-red 
																	| real GUID
															span.btn.btn-success.btn-xs.waves-effect.m-r-10
																| G
															| is a GET request. We use this when we want to GET informations from website
															br
															br
															span.btn.btn-warning.btn-xs.waves-effect.m-r-10
																| P
															| is a POST request. We use this when we want to POST/save informations to the Database. Can be used for example to store the Players Vision settings (FOV, FPS, PROMOD etc)
													.row.m-t-25
														.col-md-12
															.panel-group(role='tablist', aria-multiselectable='true', data-collapse-color="green")
																.panel.panel-collapse
																	#headingOne.panel-heading(role='tab')
																		h4.panel-title
																			a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
																				| Server Related Informations
																	#collapseOne.collapse.in(role='tabpanel', aria-labelledby='headingOne')
																		.panel-body
																			.list-group.lg-odd-black
																				.list-group-item.media
																					.pull-left
																						span.btn.btn-success.btn-xs.waves-effect.m-r-10
																							| G
																					.media-body
																						.lgi-heading
																							a(href='/cod4x_plugins/json/'+results.servers.julia_identkey+'/server/info', target='_blank')
																								| #{websiteaddress}/cod4x_plugins/json/#{results.servers.julia_identkey}/server/info
																				.list-group-item.media
																					.pull-left
																						span.btn.btn-success.btn-xs.waves-effect.m-r-10
																							| G
																					.media-body
																						.lgi-heading
																							a(href='/cod4x_plugins/json/'+results.servers.julia_identkey+'/server/admins', target='_blank')
																								| #{websiteaddress}/cod4x_plugins/json/#{results.servers.julia_identkey}/server/admins
																.panel.panel-collapse
																	#headingTwo.panel-heading(role='tab')
																		h4.panel-title
																			a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
																				| Player Related Informations
																	#collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo')
																		.panel-body
																			.list-group.lg-odd-black
																				.list-group-item.media
																					.pull-left
																						span.btn.btn-success.btn-xs.waves-effect.m-r-10
																							| G
																					.media-body
																						.lgi-heading
																							a(href='/cod4x_plugins/json/'+results.servers.julia_identkey+'/player/check-admin/:player_guid', target='_blank')
																								| #{websiteaddress}/cod4x_plugins/json/#{results.servers.julia_identkey}/player/check-admin/
																								span.c-red player_guid
																				.list-group-item.media
																					.pull-left
																						span.btn.btn-success.btn-xs.waves-effect.m-r-10
																							| G
																					.media-body
																						.lgi-heading
																							a(href='/cod4x_plugins/json/'+results.servers.julia_identkey+'/player/info/:player_guid', target='_blank')
																								| #{websiteaddress}/cod4x_plugins/json/#{results.servers.julia_identkey}/player/info/
																								span.c-red player_guid
																				.list-group-item.media
																					.pull-left
																						span.btn.btn-success.btn-xs.waves-effect.m-r-10
																							| G
																					.media-body
																						.lgi-heading
																							a(href='/cod4x_plugins/json/'+results.servers.julia_identkey+'/player/name-aliases/:player_guid', target='_blank')
																								| #{websiteaddress}/cod4x_plugins/json/#{results.servers.julia_identkey}/player/name-aliases/
																								span.c-red player_guid
																				.list-group-item.media
																					.pull-left
																						span.btn.btn-warning.btn-xs.waves-effect.m-r-10
																							| P
																					.media-body
																						.lgi-heading
																							a(href='/cod4x_plugins/json/'+results.servers.julia_identkey+'/player/info/update/:player_guid', target='_blank')
																								| #{websiteaddress}/cod4x_plugins/json/#{results.servers.julia_identkey}/player/info/update/
																								span.c-red player_guid
																							.c-bluegray.small
																								br
																								strong Body names what we can send 
																								br
																								| player_registered - num; player_fov - num; player_fps - num;
																								br
																								| player_promod - num;player_emblem_color - num; player_emblem_text - string; player_icon - num;)
																.panel.panel-collapse
																	#headingThree.panel-heading(role='tab')
																		h4.panel-title
																			a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
																				| Ban Related Informations
																	#collapseThree.collapse(role='tabpanel', aria-labelledby='headingThree')
																		.panel-body
																			.list-group.lg-odd-black
																				.list-group-item.media
																					.pull-left
																						span.btn.btn-success.btn-xs.waves-effect.m-r-10
																							| G
																					.media-body
																						.lgi-heading
																							a(href='/cod4x_plugins/json/'+results.servers.julia_identkey+'/banlist/permbans', target='_blank')
																								| #{websiteaddress}/cod4x_plugins/json/#{results.servers.julia_identkey}/banlist/permbans
																				.list-group-item.media
																					.pull-left
																						span.btn.btn-success.btn-xs.waves-effect.m-r-10
																							| G
																					.media-body
																						.lgi-heading
																							a(href='/cod4x_plugins/json/'+results.servers.julia_identkey+'/banlist/tempbans', target='_blank')
																								| #{websiteaddress}/cod4x_plugins/json/#{results.servers.julia_identkey}/banlist/tempbans
																.panel.panel-collapse
																	#headingFive.panel-heading(role='tab')
																		h4.panel-title
																			a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
																				| Julia Stats
																	#collapseFive.collapse(role='tabpanel', aria-labelledby='headingFive')
																		.panel-body
																			| Coming soon, the idea is to create similar stats as XLRStats in B3

