extends ../../layout/home

block content
		ol.breadcrumb
			li
				a(href='/') #{t('navigation:main_navigation.home')}
			li
				a(href='/admin/home') Admin
			li.active CoD4x Binary Files
		section#content
			.container.container-alt
				.row
					.col-md-8.col-sm-12
						if (success_messages.length > 0)
							.row
								.col-sm-12.col-md-12.m-t-30
									.alert.alert-success
										| #{success_messages}
						if (error_messages.length > 0)
							.row
								.col-sm-12.col-md-12.m-t-30
									.alert.alert-danger
										| #{error_messages}
						.row
							.card
								.card-header
									h2
										span.zmdi.zmdi-cloud-outline
										|  CoD4x Binary Files
										small.c-red Read the Instructions before you compile the Files
									a.btn.bgm-blue.btn-float.waves-effect(href="/admin//cod4x-github/pull", data-toggle="tooltip", data-placement="top", title="", data-original-title="Git Pull latest Files")
										i.zmdi.zmdi-cloud-download
								.card-body.card-padding
									.row
										ul.tab-nav(role='tablist')
											li.active
												a(href='#compiled_files', aria-controls='compiled_files', role='tab', data-toggle='tab')
													| CoD4x Compiled Files
													span.m-l-10.label.label-info=results.cod4xfiles.length
											li
												a(href='#instructions', aria-controls='instructions', role='tab', data-toggle='tab')
													| Instructions
										.tab-content
											#compiled_files.tab-pane.active(role='tabpanel')
												.list-group.lg-odd-black
													each row in results.cod4xfiles
														.list-group-item.media
															.pull-left
																span.zmdi.github-box
															.pull-right
																.actions.dropdown
																	a(href='', data-toggle='dropdown', aria-expanded='true')
																		i.zmdi.zmdi-more-vert
																	ul.dropdown-menu.dropdown-menu-right
																		if (row.category=='server_file')
																			if (results.server.length > 0)
																				li
																					a(href='/admin/cod4x-github/use-server-version/save/'+row.id) Use this Version
																			li
																				a(href='/cod4x-binary/'+row.id+'/'+row.name) Download File
																		else
																			if (results.server.length > 0)
																				li
																					a(href='/admin/cod4x-github/use-plugin-version/save/'+row.id) Use this Version
																			li
																				a(href='/cod4x-binary/'+row.id+'/'+row.name+'.so') Download File
																		li.divider
																		li
																			a(href='/admin/cod4x-github/delete/'+row.id) Delete
															.media-body
																.lgi-heading
																	span.c-blue.zmdi.zmdi-file-text.m-r-5
																	if (row.category == 'server_file')
																		span.c-deeppurple.m-r-5 
																			| cod4x18_dedrun
																	else
																		span.c-green.m-r-5
																			| Plugin #{row.name}
																	| #{moment(row.createdAt).format('MMMM.Do.YYYY, HH:mm')}
											#instructions.tab-pane(role='tabpanel')
												.p-20
													.row
														.col-md-12
															h5.c-red To compile CoD4x from source you require the following tools, make sure that you have this tools installed on your OS:
															br
															br
															ul.clist.clist-angle
																li NASM
																li paxctl
																li gcc
																li make
													.row
														.col-md-12
															h5.m-b-20 Debian/Ubuntu 32-bit:
															blockquote.m-b-25.f-13
																p sudo apt install nasm paxctl build-essential
															h5.m-b-20 Debian/Ubuntu 64-bit:
															blockquote.m-b-25.f-13
																p
																	| sudo dpkg --add-architecture i386
																p
																	| sudo apt-get update
																p
																	| sudo apt-get install nasm:i386 build-essential gcc-multilib g++-multilib
															h5.m-b-20 openSUSE 32-bit:
															blockquote.m-b-25.f-13
																p sudo zypper install nasm gcc-32bit gcc-c++-32bit
															h5.m-b-20 Arch Linux 32-bit:
															blockquote.f-13
																p yaourt -S nasm paxctl gcc-multilib make
													.row
														.col-md-12
															h5.c-red To get the latest files from Github we have to install git on your OS:
													.row
														.col-md-12
															h5.m-b-20 Ubuntu:
															blockquote.m-b-25.f-13
																p sudo apt update
																p sudo apt install git
															h5.m-b-20 Debian 9:
															blockquote.m-b-25.f-13
																p sudo apt update
																p sudo apt install git
															h5.m-b-20 Debian 8:
															blockquote.m-b-25.f-13
																p sudo apt update
																p sudo apt-get install git-core
															h5.m-b-20 Centos 7:
															blockquote.m-b-25.f-13
																p sudo yum install git
													.row
														.col-md-12
															hr
															h5.m-b-20.c-red Notes on Updating Local Servers
															p If you have compiled your first file it will be visible on COD4X COMPILED FILES
															p If you select the file from the list (If you click on "Use this Version") all Local Servers have to be stopped in order to replace the binary file
															p Github files from CoD4x_Server are downloaded dailly if you activate plugin "Download cod4x files from Github"
							.clearfix
					.col-md-4
						.row
							.col-sm-12.col-md-12
								.card
									.card-header
										h2
											span.zmdi.zmdi-file.m-r-15
											| Compile Server Binary File
									.card-body.card-padding
										form(method='post', action='/admin/cod4x-github/new/server-file/save')
											.form-group
												label
													| Compile new 
													span.c-deeppurple.m-r-5.m-l-5 cod4x18_dedrun
													| file
											.form-group
												input(type='hidden', name='category', value='server_file')
												input(type='hidden', name='name', value='cod4x18_dedrun')
												input(type='hidden', name='_csrf', value=csrfToken)
												button.btn.bgm-deeppurple.btn-block.waves-effect(type='submit')
													span.zmdi.zmdi-github.m-r-5
													| Compile Server File
									.clearfix
						.row
							.col-sm-12.col-md-12
								.card
									.card-header
										h2
											span.zmdi.zmdi-file.m-r-15
											| Compile Plugin File
									.card-body.card-padding
										form(method='post', action='/admin/cod4x-github/new/plugin-file/save')
											.form-group
												label
													| Compile new 
													span.c-green.m-r-5.m-l-5 plugin
													| file
											.form-group.fg-line
												label(for='plugin_name')
													|  Plugin Name
												.select
													select.form-control(name='name', required)
														option(value='') choose
														option(value='antispam') Plugin Antispam
														option(value='censor') Plugin Censor
														option(value='julia') Plugin Julia
														option(value='legacybanlist') Plugin Legacybanlist
														option(value='simplebanlist') Plugin Simplebanlist
														option(value='sourcebansplugin') Plugin Sourcebansplugin
														option(value='warn') Plugin Warn
											.form-group
												input(type='hidden', name='category', value='plugin_file')
												input(type='hidden', name='_csrf', value=csrfToken)
												button.btn.bgm-green.btn-block.waves-effect(type='submit')
													span.zmdi.zmdi-github.m-r-5
													| Compile Plugin File
									.clearfix