extends ../../layout/home

block content
	ol.breadcrumb
		li
			a(href='/') #{t('navigation:main_navigation.home')}
		li
			a(href='/players-data') #{t('navigation:main_navigation.players_data')}
		li.active #{results.player.player_name} Data
	section#content
		.container.container-alt
			.block-header
				h2
					span(class='m-r-5 flag-icon flag-icon-'+results.player.player_country_short)
					| #{results.player.player_name}
					small
						| #{t('frontpages:players_data.players_data_lt_seen')} #{moment(results.player.updatedAt).fromNow()}
			.row.wall
				.col-md-8.col-sm-6
					.card
						.card-body.card-padding
							if (success_messages.length > 0)
								.row
									.col-sm-12.col-md-12.m-t-30
										.alert.alert-success
											| #{success_messages}
							if (error_messages.length > 0)
								.row
									.col-sm-12.col-md-12.m-t-30
										.alert.alert-danger
											| #{error_messages}
							.pmo-contact
								ul
									li.ng-binding
										i.zmdi.zmdi-pin-account
										|  #{results.player.player_name}
									if (user.local.user_role > 1)
										li.ng-binding
											i.zmdi.zmdi-code-setting
											| #{t('frontpages:players_data.players_data_guid')}: #{results.player.player_guid}
										li.ng-binding
											i.zmdi.zmdi-steam
											|  #{results.player.player_steam_id}
									li
										i.zmdi.zmdi-pin
										address.m-b-0.ng-binding
											span(class='m-r-5 flag-icon flag-icon-'+results.player.player_country_short)
											| #{results.player.player_country}, #{results.player.player_city}
							h4.m-t-25 #{t('frontpages:players_data.players_data_name_aliases')}
							ul.list-inline.commaseparated.pull-left.nowrap
								each item in results.player.player_name_aliases
									li
										| #{item}
							.clearfix
					.card
						.card-header
							h2
								span.zmdi.zmdi-comment-text.m-r-5
								| Chat History
								small 
									| #{results.player.player_name} chat messages on Game Server
						.card-body
							.pre-scrollable.p-15(style="height:300px")
								.lg-odd-black
									each row in chatmsg.messages.reverse().slice(Math.max(arr.length - 2, 0))
										.list-group-item
											.m-b-15
												.span.badge.bgm-green.f-12.m-r-15 #{row.server_name}
												span.f-12
													| #{row.message}
											.c-gray.f-11.text-right
												| #{moment(row.sent).format('MMMM Do YYYY, h:mm')}		
						.clearfix
				.col-md-4.col-sm-6
					if (user)
						if (user.local.user_role >= results.requiredpower.minimum_power_for_player_unban)
							.card
								.card-header
									h2
										| Permanent Ban
										small 
											| Ban Permanently #{results.player.player_name}
								.card-body.card-padding
									form.m-t-15(method='post', action='/rconcmd/offline/permban/playersdata')
										.fg-line.form-group
											input.form-control(type='text', name='message', placeholder=t('frontpages:server.server_input_placeholder'), required)
										.form-group
											button.btn.bgm-red.btn-block(type='submit') PermBan
										input(type='hidden', name='player_slot', value=results.player.player_guid)
										input(type='hidden', name='_csrf', value=csrfToken)
